// Mixin Variable

// Transition Variables -------------------------------------------------------

/// Time for `standard-trans` mixin
/// @group labor
$standard-trans-time:        .35s !default;
/// Timing function for `standard-trans` mixin
/// @group labor
$standard-trans-timing-func: ease !default;
/// Time delay for `standard-trans` mixin
/// @group labor
$standard-trans-time-delay:  0;
/// Time for `long-trans` mixin
/// @group labor
$long-trans-time:            .35s !default;
/// Timing function for `long-trans` mixin
/// @group labor
$long-trans-timing-func:     ease !default;
/// Time delay for `long-trans` mixin
/// @group labor
$long-trans-time-delay:      0;


// Gray Scale
$labor-white:   #fff !default;
$labor-black:   #090909 !default;
