//
// ==-----> FONT VARIABLES <-----==
//
/// Basic Systems Font stack
/// @group labor
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'  !default;
/// Basic Sans Font stack
/// @group labor
$sans:         'Arial', $system-fonts, sans-serif !default;
/// Basic Serif Font stack
/// @group labor
$serif:        TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !default;


//
// ==-----> TRANSITION VARIABLES <-----==
//
/// Time for `standard-trans` mixin
/// @group labor
$standard-trans-time:        .35s !default;
/// Timing function for `standard-trans` mixin
/// @group labor
$standard-trans-timing-func: ease !default;
/// Time delay for `standard-trans` mixin
/// @group labor
$standard-trans-time-delay:  0;
/// Time for `long-trans` mixin
/// @group labor
$long-trans-time:            .35s !default;
/// Timing function for `long-trans` mixin
/// @group labor
$long-trans-timing-func:     ease !default;
/// Time delay for `long-trans` mixin
/// @group labor
$long-trans-time-delay:      0 !default;

// Size Variables
// ==============

/// Base value for em calulations (best practice = 16px)
/// @group labor
$em-base: 16px !default;


// Private & Placeholder Variables
// ===============================

// Gray Scale
$labor-white:   #fff !default;
$labor-black:   #090909 !default;
