// Mixin Variable

// Transition Variables -------------------------------------------------------


$standard-trans-time: 0.35s !default;
$standard-trans-timing-func: ease !default;
$standard-trans-time-delay: 0;
$long-trans-time: 0.35s !default;
$long-trans-timing-func: ease !default;
$long-trans-time-delay: 0;
