// Standard Grid Mixin
// ===================

///
/// grid-col( $columns )
///
/// @param {integer} $columns - Number of columns to take up
/// @param {string} $gutter-value - Width of gutter
///
/// @example scss - Basic Usage Sass
///   div {
///     @include grid-col( 3 );
///   }
///
///   div {
///     @include grid-col( 4, 15px );
///   }
///
/// @since 1.0.0
/// @group parts
///
@mixin grid-col($columns, $gutter-value: $target-gutter ) {

  $gutter-width: calc-gutter-width($gutter-value);

  @if $calc {
    $width: ( (100 / $total_cols) * $columns ) + %;
    $column-percentage: ($columns / $total_cols) * ( $target-gutter / 1px );
    $column-offset: $target-gutter - $column-percentage;

    // Attrs
    margin-right: $gutter-value;
    width: calc(#{$width} - #{$column-offset});

  } @else {

    // Mixin vars
    // $single: calc-single-col-width();
    $width: ( ( calc-single-col-width() * $columns ) + ( $gutter-width * ( $columns - 1 ) ) );

    // Attrs
    margin-right: $gutter-width + %;
    width: $width + %;

  }

  // Attrs
  float: left;

  &:last-child {
    margin-right: 0;
  }

}


///
/// Remove margin-right from target element and clear floats on the
/// following element of that type. Can be used to target the last
/// item in a row via `nth-child`.
///
/// @param {string} $nth [1] - Target `nth-child`
///
/// @example scss - Basic Usage Sass
///
///   .no-margin {
///     @include grid-col(8);
///     @include grid-zed();
///   }
///
///   /* Span 3 columns of 12 column grid */
///   .three-col {
///     @include grid-col(4);
///     @include grid-zed(3n);
///   }
///
@mixin grid-zed($nth: 1) {

  &:nth-child(#{$nth}) {
    margin-right: 0;
  }

  &:nth-child(#{$nth}+1) {
    clear: left;
  }
}

@mixin grid-zed-reset($nth: 1, $gutter-value: $target-gutter) {

  &:nth-child(#{$nth}) {
    @if $calc {
      margin-right: $gutter-value;
    } @else {
      $gutter-width: calc-gutter-width($gutter-value);
      margin-right: $gutter-width + %;
    }
  }

  &:nth-child(#{$nth}+1) {
    clear: none;
  }
}