// Grid Functions
// ==============

///
/// calc-gutter-width()
/// Calculate gutter width as a percentage based on target value
///
/// @return {integer} value of percentage ( add `+ %`)
/// @since 1.0.0
/// @group parts
///
@function calc-gutter-width($gutter-width: $target-gutter) {

  // Get target gutter percentage
  @return (($gutter-width / 1px) / ($target-width / 1px)) * 100;

}


///
/// calc-single-col-width()
/// Calculate single column width
///
/// @return {integer} value of percentage ( add `+ %`)
///
/// @since 1.0.0
/// @group parts
///
@function calc-single-col-width() {

  $gutter-width: calc-gutter-width();
  $gutter-area: ($gutter-width * ($total-cols - 1));
  $remains: (100 - $gutter-area);

  @return ($remains / $total-cols);

}
