// Standard Grid Mixin
// ===================

///
/// grid-col( $columns )
///
/// @param {integer} $columns - Number of columns to take up
/// @param {string} $gutter-value - Width of gutter
///
/// @example scss - Basic Usage Sass
///   div {
///     @include grid-col( 3 );
///   }
///
///   div {
///     @include grid-col( 4, 15px );
///   }
///
/// @since 1.0.0
/// @group parts
///
@mixin grid-col($columns, $gutter-value: $target-gutter ) {

  $gutter-width: calc-gutter-width($gutter-value);

  @if $calc {
    margin-right: $target-gutter;
  } @else {
    margin-right: $gutter-width + %;
  }

  // Attrs
  width: calc-grid-col-width($columns, $gutter-value);
  float: left;

  &:last-child {
    margin-right: 0;
  }

}

