// Breakpoints
// -----------

// Screen Min Width
@mixin break( $size ) {
  @media only screen and ( min-width: #{$size} ) {
    @content;
  }
}

// Row
// ---
@mixin row {
  width: 100%;
  @include clearfix();
}

// Container
// ---------
@mixin base_container( $width: $fluid-container, $fluid: true ) {
  width: $width;
  margin-left: auto;
  margin-right: auto;

  @if $fluid == false {

    @each $bp, $bpc in $active-breakpoints {
      &:before {
        content: '#{$bp}';
      }

      @include break( $bpc ) {
        width: $bp;
      }
    }
  }
}