/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Brawler", serif;
  color: #ff6868; }

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 15px 0 25px; }

h2 {
  font-size: 2.25rem;
  margin-bottom: 28px; }

h3 {
  font-size: 1.75rem;
  font-family: "Space Mono", monospace;
  margin-bottom: 20px; }

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Space Mono", monospace; }

input {
  padding: 15px;
  font-family: "Space Mono", monospace;
  display: inline-block;
  color: #ff6868; }
  input:invalid, input:focus:invalid {
    background-color: #2bb2dd;
    color: #fff; }
    input:invalid ::placeholder, input:focus:invalid ::placeholder {
      color: #fff; }

button {
  box-sizing: inherit;
  background: none;
  border: 0;
  color: inherit;
  cursor: default;
  font: inherit;
  line-height: normal;
  overflow: visible;
  display: inline-block;
  padding: 0;
  appearance: button;
  -webkit-appearance: button;
  user-select: none;
  text-decoration: none;
  white-space: pre;
  background-color: #ff6868;
  color: #fff; }
  button:hover, button:focus, button:active {
    box-shadow: 0;
    outline: none; }

input, button {
  padding: 0 20px;
  border: 5px solid #ff6868;
  height: 50px;
  font-size: 16px;
  margin-left: 0; }

:invalid ::placeholder,
:focus:invalid ::placeholder {
  color: #fff; }

html {
  font-size: 100%; }

body {
  font-family: "Space Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.5; }

p {
  margin-bottom: 10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300; }

section {
  margin-bottom: 50px; }

* {
  box-sizing: border-box; }

.container-example {
  border: 1px solid #ffe1e1;
  padding-top: 20px; }

.grid__fill {
  background-color: #2bb2dd;
  height: 50px;
  margin-bottom: 24px; }

.grid__1 {
  margin-right: 1.42857%;
  width: 7.02381%;
  float: left; }
  .grid__1:last-child {
    margin-right: 0; }

.grid__2 {
  margin-right: 1.42857%;
  width: 15.47619%;
  float: left; }
  .grid__2:last-child {
    margin-right: 0; }

.grid__3 {
  margin-right: 1.42857%;
  width: 23.92857%;
  float: left; }
  .grid__3:last-child {
    margin-right: 0; }

.grid__4 {
  margin-right: 1.42857%;
  width: 32.38095%;
  float: left; }
  .grid__4:last-child {
    margin-right: 0; }

.grid__5 {
  margin-right: 1.42857%;
  width: 40.83333%;
  float: left; }
  .grid__5:last-child {
    margin-right: 0; }

.grid__6 {
  margin-right: 1.42857%;
  width: 49.28571%;
  float: left; }
  .grid__6:last-child {
    margin-right: 0; }

.grid__7 {
  margin-right: 1.42857%;
  width: 57.7381%;
  float: left; }
  .grid__7:last-child {
    margin-right: 0; }

.grid__8 {
  margin-right: 1.42857%;
  width: 66.19048%;
  float: left; }
  .grid__8:last-child {
    margin-right: 0; }

.grid__9 {
  margin-right: 1.42857%;
  width: 74.64286%;
  float: left; }
  .grid__9:last-child {
    margin-right: 0; }

.grid__10 {
  margin-right: 1.42857%;
  width: 83.09524%;
  float: left; }
  .grid__10:last-child {
    margin-right: 0; }

.grid__11 {
  margin-right: 1.42857%;
  width: 91.54762%;
  float: left; }
  .grid__11:last-child {
    margin-right: 0; }

.grid__12 {
  margin-right: 1.42857%;
  width: 100%;
  float: left; }
  .grid__12:last-child {
    margin-right: 0; }

@media only screen and (min-width: 740px) {
  .grid-multi .post {
    margin-right: 1.42857%;
    width: 49.28571%;
    float: left; }
    .grid-multi .post:last-child {
      margin-right: 0; }
    .grid-multi .post:nth-child(2n) {
      margin-right: 0; }
    .grid-multi .post:nth-child(2n+1) {
      clear: left; } }

@media only screen and (min-width: 960px) {
  .grid-multi .post {
    margin-right: 1.42857%;
    width: 32.38095%;
    float: left; }
    .grid-multi .post:nth-child(2n) {
      margin-right: 1.42857%; }
    .grid-multi .post:nth-child(2n+1) {
      clear: none; }
    .grid-multi .post:last-child {
      margin-right: 0; }
    .grid-multi .post:nth-child(3n) {
      margin-right: 0; }
    .grid-multi .post:nth-child(3n+1) {
      clear: left; } }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  @media only screen and (min-width: 520px) {
    .container {
      max-width: 480px; } }
  @media only screen and (min-width: 740px) {
    .container {
      max-width: 700px; } }
  @media only screen and (min-width: 960px) {
    .container {
      max-width: 920px; } }
  @media only screen and (min-width: 1240px) {
    .container {
      max-width: 1200px; } }
  @media only screen and (min-width: 1540px) {
    .container {
      max-width: 1500px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.row {
  width: 100%; }
  .row::after {
    clear: both;
    content: '';
    display: table; }

.flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; }

.flex-row-rev {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  flex-wrap: wrap; }

.two-col__col {
  margin-right: 1.42857%;
  width: 49.28571%;
  float: left; }
  .two-col__col:last-child {
    margin-right: 0; }

.two-col .inline {
  margin: 0;
  padding-left: 0; }
  .two-col .inline > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0; }

.two-col .unstyled {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .two-col .unstyled > li {
    display: block;
    padding-left: 0;
    padding-right: 0; }

.example {
  margin-bottom: 30px; }

.flex-grid__fill {
  background-color: #1d92b8;
  height: 50px;
  margin-bottom: 24px; }

.flex-grid__1 {
  width: 7.02381%; }

.flex-grid__2 {
  width: 15.47619%; }

.flex-grid__3 {
  width: 23.92857%; }

.flex-grid__4 {
  width: 32.38095%; }

.flex-grid__5 {
  width: 40.83333%; }

.flex-grid__6 {
  width: 49.28571%; }

.flex-grid__7 {
  width: 57.7381%; }

.flex-grid__8 {
  width: 66.19048%; }

.flex-grid__9 {
  width: 74.64286%; }

.flex-grid__10 {
  width: 83.09524%; }

.flex-grid__11 {
  width: 91.54762%; }

.flex-grid__12 {
  width: 100%; }

.grid__shift-1 {
  margin-left: 33.80952%; }

.flex-row__multi .flex-grid__2:nth-child(6n+1) {
  margin-left: .1px; }
