/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem; }

h1 {
  font-size: 1.875rem; }

* {
  box-sizing: border-box; }

.grid__fill {
  background-color: #2BB2DD;
  height: 50px;
  margin-bottom: 24px; }

.grid__1 {
  margin-right: 20px;
  width: calc(8.33333% - 18.33333px);
  float: left; }
  .grid__1:last-child {
    margin-right: 0; }

.grid__2 {
  margin-right: 20px;
  width: calc(16.66667% - 16.66667px);
  float: left; }
  .grid__2:last-child {
    margin-right: 0; }

.grid__3 {
  margin-right: 20px;
  width: calc(25% - 15px);
  float: left; }
  .grid__3:last-child {
    margin-right: 0; }

.grid__4 {
  margin-right: 20px;
  width: calc(33.33333% - 13.33333px);
  float: left; }
  .grid__4:last-child {
    margin-right: 0; }

.grid__5 {
  margin-right: 20px;
  width: calc(41.66667% - 11.66667px);
  float: left; }
  .grid__5:last-child {
    margin-right: 0; }

.grid__6 {
  margin-right: 20px;
  width: calc(50% - 10px);
  float: left; }
  .grid__6:last-child {
    margin-right: 0; }

.grid__7 {
  margin-right: 20px;
  width: calc(58.33333% - 8.33333px);
  float: left; }
  .grid__7:last-child {
    margin-right: 0; }

.grid__8 {
  margin-right: 20px;
  width: calc(66.66667% - 6.66667px);
  float: left; }
  .grid__8:last-child {
    margin-right: 0; }

.grid__9 {
  margin-right: 20px;
  width: calc(75% - 5px);
  float: left; }
  .grid__9:last-child {
    margin-right: 0; }

.grid__10 {
  margin-right: 20px;
  width: calc(83.33333% - 3.33333px);
  float: left; }
  .grid__10:last-child {
    margin-right: 0; }

.grid__11 {
  margin-right: 20px;
  width: calc(91.66667% - 1.66667px);
  float: left; }
  .grid__11:last-child {
    margin-right: 0; }

.grid__12 {
  margin-right: 20px;
  width: calc(100% - 0px);
  float: left; }
  .grid__12:last-child {
    margin-right: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  @media only screen and (min-width: 480px) {
    .container {
      width: 440px; } }
  @media only screen and (min-width: 700px) {
    .container {
      width: 660px; } }
  @media only screen and (min-width: 920px) {
    .container {
      width: 880px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1160px; } }
  @media only screen and (min-width: 1500px) {
    .container {
      width: 1460px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.row {
  width: 100%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.flex-row-rev {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap; }

.two-col ul {
  margin-right: 20px;
  width: calc(50% - 10px);
  float: left; }
  .two-col ul:last-child {
    margin-right: 0; }

.two-col .inline {
  margin: 0;
  padding-left: 0; }
  .two-col .inline > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0; }

.two-col .unstyled {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .two-col .unstyled > li {
    display: block;
    padding-left: 0;
    padding-right: 0; }

.flex-grid__fill {
  background-color: #1d92b8;
  height: 50px;
  margin-bottom: 24px; }

.flex-grid__1 {
  width: calc(8.33333% - 18.33333px); }

.flex-grid__2 {
  width: calc(16.66667% - 16.66667px); }

.flex-grid__3 {
  width: calc(25% - 15px); }

.flex-grid__4 {
  width: calc(33.33333% - 13.33333px); }

.flex-grid__5 {
  width: calc(41.66667% - 11.66667px); }

.flex-grid__6 {
  width: calc(50% - 10px); }

.flex-grid__7 {
  width: calc(58.33333% - 8.33333px); }

.flex-grid__8 {
  width: calc(66.66667% - 6.66667px); }

.flex-grid__9 {
  width: calc(75% - 5px); }

.flex-grid__10 {
  width: calc(83.33333% - 3.33333px); }

.flex-grid__11 {
  width: calc(91.66667% - 1.66667px); }

.flex-grid__12 {
  width: calc(100% - 0px); }

ul.hover {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  ul.hover li {
    display: block;
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    ul.hover li ul {
      background-color: #fff;
      left: 0;
      margin: 0;
      max-height: 0;
      min-width: 300px;
      overflow: hidden;
      padding-left: 0;
      position: absolute;
      top: 100%;
      transition: max-height 0.35s ease;
      z-index: 5; }
    ul.hover li li {
      padding: 10px; }
    ul.hover li:hover > ul {
      max-height: 500px; }
