.docs__nav {

}

.docs__item-list {
  max-width: 680px;
  margin: 0 auto 100px;
}

table {
  width: 100%;
  margin: 0 auto 30px;
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  background-color: #e0e0e0;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
}

th,
td {
  padding: 10px 15px;
  border-right: 1px solid black;
}

td:first-child {
  font-weight: 600;
}

td:first-child::before {
  content: '$';
}

tbody tr {
  border-top: 1px solid black;
}