.item__block {
  margin: 50px auto 80px;
}

.item__block-title {
  padding: 10px 10px 10px 0;
  margin: 0 0 20px 0;
  position: relative;
  border: 1px solid black;
  background-color: #e0e0e0;
  font-weight: bold;
}

.item__block-title span {
  border-right: 1px solid black;
  padding: 10px 10px;
  background-color: gray;
  position: relative;
  color: white;
  font-weight: 400;
}

.item__block-subtitle {
  text-transform: uppercase;
  margin: 30px 0 10px;
}

.item__block p {
  margin: 0 0 10px;
}

.item__meta {
  margin-top: 20px;
  font-size: 0.7em;
}

.item__meta span {
  display: inline-block;
  text-transform: uppercase;
}

.item__meta span + span {
  margin-left: 20px;
}

.item__meta span span {
  font-weight: 600;
}
