/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  @media only screen and (min-width: 520px) {
    .container {
      max-width: 480px; } }
  @media only screen and (min-width: 740px) {
    .container {
      max-width: 700px; } }
  @media only screen and (min-width: 960px) {
    .container {
      max-width: 920px; } }
  @media only screen and (min-width: 1240px) {
    .container {
      max-width: 1200px; } }
  @media only screen and (min-width: 1540px) {
    .container {
      max-width: 1500px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.row {
  width: 100%; }
  .row::after {
    clear: both;
    content: '';
    display: table; }

@media only screen and (min-width: 960px) {
  .sidebar {
    margin-right: 1.66667%;
    width: 15.27778%;
    float: left; }
    .sidebar:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 960px) {
  .main {
    margin-right: 1.66667%;
    width: 74.58333%;
    float: left;
    margin-left: 8.47222%; }
    .main:last-child {
      margin-right: 0; } }

.header {
  padding: 20px 0;
  background-color: #263238; }
  @media only screen and (min-width: 960px) {
    .header__logo {
      margin-right: 1.66667%;
      width: 49.16667%;
      float: left; }
      .header__logo:last-child {
        margin-right: 0; } }
  .header__logo-type {
    font-family: 'Brawler', serif;
    font-size: 30px;
    color: #D84315; }
  @media only screen and (min-width: 960px) {
    .header__content {
      margin-right: 1.66667%;
      width: 49.16667%;
      float: left; }
      .header__content:last-child {
        margin-right: 0; } }

.item__heading {
  font-family: "Brawler", serif;
  font-size: 20px;
  margin-bottom: 20px; }

.item__since {
  color: #545454; }

.item__description {
  font-family: "Brawler", serif; }

.item__sub-heading {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 15px; }

.item + .item {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #D84315; }

.item pre + pre {
  margin-top: 15px; }

/**
 * Material prism theme by Mitch Jackson (http://mitchelljackson.co.uk)
 * Inspired by Material Theme for Sublime Text
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #CED3DF;
  text-shadow: none;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Office Code Pro Medium', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: rgba(255, 255, 255, 0.2); }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: rgba(255, 255, 255, 0.2); }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #212121; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #8ED4F7; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #E44E69; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #FACC60; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #FACC60; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #C3E984; }

.token.function {
  color: #E44E69; }

.token.regex,
.token.important,
.token.variable {
  color: #FACC60; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
