* {
  box-sizing: border-box;
}

.container-example {
  border: 1px solid tint($red, 80%);
  padding-top: 20px;
}

$new-grid: (
  cols:   12,
  width:  1000px,
  gutter: 40px
);

.grid {

  &__fill {
    background-color: $blue;
    height: 50px;
    margin-bottom: 24px;
  }

  &__1 {
    @include grid-col(1, $new-grid);
  }

  &__2 {
    @include grid-col(2, $new-grid);
  }

  &__3 {
    @include grid-col(3, $new-grid);
  }

  &__4 {
    @include grid-col(4, $new-grid);
  }

  &__5 {
    @include grid-col(5, $new-grid);
  }

  &__6 {
    @include grid-col(6, $new-grid);
  }

  &__7 {
    @include grid-col(7, $new-grid);
  }

  &__8 {
    @include grid-col(8, $new-grid);
  }

  &__9 {
    @include grid-col(9, $new-grid);
  }

  &__10 {
    @include grid-col(10, $new-grid);
  }

  &__11 {
    @include grid-col(11, $new-grid);
  }

  &__12 {
    @include grid-col(12, $new-grid);
  }
}

.grid-multi {

  .post {

    @include break($small) {
      @include grid-col(6);
      @include grid-zed(2n);
    }

    @include break($medium) {
      @include grid-zed-reset(2n);
      @include grid-col(4);
      @include grid-zed(3n);
    }
  }
}

.container {
  @include base-container(90%, false);
}

.container-fluid {
  @include base-container();
}

.row {
  @include row();
}

.flex-row {
  @include flex-row();
}

.flex-row-rev {
  @include flex-row($reverse: true);
}

.two-col {
  &__col {
    @include grid-col(6);
  }

  .inline {
    @include list-inline();
  }

  .unstyled {
    @include list-unstyled();
  }
}



.example {
  margin-bottom: 30px;
}

.flex-grid {

  &__fill {
    background-color: darken($blue, 10%);
    height: 50px;
    margin-bottom: 24px;
  }

  &__1 {
    @include flex-grid-col(1);
  }
  &__2 {
    @include flex-grid-col(2);
  }
  &__3 {
    @include flex-grid-col(3);
  }
  &__4 {
    @include flex-grid-col(4);
  }
  &__5 {
    @include flex-grid-col(5);
  }
  &__6 {
    @include flex-grid-col(6);
  }
  &__7 {
    @include flex-grid-col(7);
  }
  &__8 {
    @include flex-grid-col(8);
  }
  &__9 {
    @include flex-grid-col(9);
  }
  &__10 {
    @include flex-grid-col(10);
  }
  &__11 {
    @include flex-grid-col(11);
  }
  &__12 {
    @include flex-grid-col(12);
  }
}

.grid__shift-1 {
  @include grid-shift(4);
}

.flex-row__multi .flex-grid__2 {
  @include flex-grid-zed(6n);
}