$total_cols:    12;
$target_width:  1400px;
$target_gutter: 20px;
$calc:          false;

.grid {

  &__fill {
    background-color: $blue;
    height: 50px;
    margin-bottom: 24px;
  }


    &__1 {
      @include grid_col( 1 );
    }
    &__2 {
      @include grid_col( 2 );
    }
    &__3 {
      @include grid_col( 3 );
    }
    &__4 {
      @include grid_col( 4 );
    }
    &__5 {
      @include grid_col( 5 );
    }
    &__6 {
      @include grid_col( 6 );
    }
    &__7 {
      @include grid_col( 7 );
    }
    &__8 {
      @include grid_col( 8 );
    }
    &__9 {
      @include grid_col( 9 );
    }
    &__10 {
      @include grid_col( 10 );
    }
    &__11 {
      @include grid_col( 11 );
    }
    &__12 {
      @include grid_col( 12 );
    }

}

.container {
  @include base-container( 90%, false );
}

.container-fluid {
  @include base-container();
}

.row {
  @include row();
}

.two-col {

  ul {
    @include grid-col(6);
  }

  .inline {
    @include list-inline();
  }

  .unstyled {
    @include list-unstyled();
  }
}

ul.hover {
  @include list-hover();
}