
@import '../../partsandlabor';
@import 'reset';
@import 'vars';
@import 'header';

// html {
//   // font-size: $em-base - 4;

//   // @include break($small) {
//   //   font-size: ($em-base / 2);
//   // }

//   // @include break($medium) {
//     font-size: $em-base;
//   // }
// }




html {
  font-size: 100%;
}

body {
  font-family: $mono;
  font-size: rem(18);
  line-height: 1.5;
}

p {
  margin-bottom: 10px;
  font-family: $sans;
  font-weight: 300;
}

section {
  margin-bottom: 50px;
}


@import 'grid';