
@import '../../partsandlabor';
@import 'reset';
@import 'vars';

// html {
//   // font-size: $em-base - 4;

//   // @include break($small) {
//   //   font-size: ($em-base / 2);
//   // }

//   // @include break($medium) {
//     font-size: $em-base;
//   // }
// }




html {
  font-size: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: rem(20);
}

// p, ul {
//   font-size: em(20);
// }

h1 {
  font-size: rem(30);
}

@import 'grid';